@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular500,600,700,800,900);

*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
    font-family: "Inter",sans-serif;
}
body, html{
    height: 100%;
    width: 100%;
}

body{
    /* background-color: #071319; */
    background: rgb(0,93,228);
    background: linear-gradient(61deg, rgba(0,93,228,1) 0%, rgba(7,19,25,1) 50%, rgba(7,19,25,1) 100%);
}
.fa-arrow-left{
    color: #f8f8f8;
    margin-left: 30px;
    margin-top: 30px;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -ms-transition: all 0.5s;
    -o-transition: all 0.5s;
}
.fa-arrow-left:hover{
    color: #72787f;
}
.container{
    float: right;
    padding: 25px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 50%;
    height: 100%;
    margin-top: 100px;
}
.wrapper{
    margin-top: 25px;
}
h4{
    color: rgb(255, 255, 255);
    text-align: left;
    font-size: 18px;
}
span{
    margin-left: 20px;
    font-size: 14px;
}
.wrapp{
    margin-top: 5px;
}
label{
    color: #72787f;
}
input{
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    width: 300px;
    height: 40px;
    border-width: 0.1px;
    padding: 12px 20px;
    background: transparent;
    border-color: #ffffff57;
    color: #f8f8f8;
    display: block;
    margin:10px 0;
}
input::placeholder{
    color: #72787f;
    font-size: 14px;
}
.remember_me{
    display: block;
    position: relative;
    padding-left: 35px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.remember_me input{
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}
.checkbox{
    position: absolute;
    height: 15px;
    width: 15px;
    background-color: #eee;
    border-radius: 50%;
    margin-top: 4px;
}
.btn-signin{
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
    background-color: #005DE4;
    color: white;
    padding: 10px 15px;
    margin: 10px 0;
    border: none;
    cursor: pointer;
    width: 300px;
}
.btn-signin:hover{
    background-color: #005be4bb;
}
.btn-forgot{
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: #72787f;
    font-size: 13px;
}
.btn-signup{
    border: none;
    text-decoration: none;
    cursor: pointer;
    color: #72787f;
    font-size: 13px;
}
